{% extends "home/base.html" %}
{% import "home/page.html" as pg %}
{% block css %}
    <link rel="stylesheet" rel="stylesheet" media="all" href="{{ url_for('static', filename='base/css/category.css') }}">
{% endblock %}
{% block content %}
    <div class="container">
        <h3>全部结果》{{ tag.name }}</h3>
        <div class="product-easy">
	        <div class="container">

		<script src="{{ url_for('static', filename='base/js/easyResponsiveTabs.js') }}" type="text/javascript"></script>
		<script type="text/javascript">
							$(document).ready(function () {
								$('#horizontalTab').easyResponsiveTabs({
									type: 'default', //Types: default, vertical, accordion
									width: 'auto', //auto or any width like 600px
									fit: true   // 100% fit in a container
								});
							});

		</script><div class="article_include" style="background-color: #ffffff; margin-top: 5em">
        <article id="on_sale" class="article_single">
            {{ tag.name }}
        </article>
    </div>
		<div class="sap_tabs">
            {% for product in product_cate %}
            <div class="col-md-3 product-men">
							<div class="men-pro-item simpleCart_shelfItem">
								<div class="men-thumb-item" style="border-top-style: solid;border-top-color: #FDA30E ;">
									<img width="200" height="200" src="/static/{{ product.pic }}" alt="" class="pro-image-front">
									<img width="200" height="200" src="/static/{{ product.pic }}" alt="" class="pro-image-back item_image">

										<div class="men-cart-pro">
											<div class="inner-men-cart-pro">
												<a href="{{ url_for('home.detail', product_id=product.id) }}" class="link-product-add-cart">Quick View</a>
											</div>
										</div>
										<span class="product-new-top">{{ tag.name }}</span>

								</div>
								<div class="item-info-product ">
                                    <span class="item_name"><h4><a href="{{ url_for('home.detail', product_id=product.id) }}">{{ product.name }}</a></h4></span>
									<div class="info-product-price">
										<span class="item_price">￥{{ product.price }}</span>
									</div>
									<a  class="item_add single-item hvr-outline-out button2 add_cart">添加到购物车</a>
								</div>
							</div>
						</div>
            {% endfor %}
		</div>
	</div>
</div>
    <div class="container">
        <div class="col-md-12">
                {{ pg.page(page_data,'home.category') }}
            </div>
    </div>
    </div>

{% endblock %}