{% extends "home/base.html" %}
{% block css %}
{#    添加城市选择框的样式表  #}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base/css/city-picker.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="/static/base/css/detail.css">
     <script src="{{ url_for('static', filename='base/js/simpleCart.min.js') }}"></script>
{% endblock css %}
{% block content %}
    <div class="single">
	<div class="container simpleCart_shelfItem">
		<div class="col-md-5 single-right-left animated wow slideInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInUp;">
			<div class="grid images_3_of_2">
				<div class="flexslider">
					<!-- FlexSlider -->
						<script>
						// Can also be used with $(document).ready()
							$(window).load(function() {
								$('.flexslider').flexslider({
								animation: "slide",
								controlNav: "thumbnails"
								});
							});
						</script>
					<!-- //FlexSlider-->
					<img src="/static/{{ product.pic }}" class="img-responsive img-thumbnail item-thumb item_image">
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="col-md-7 single-right-left  animated wow slideInRight animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInRight;">
            <span class="item_name"><h3>{{ product.name }}</h3></span>
            <div class="price-tab">
                <span class="span-margin">售价</span><span class="span-margin">￥</span><span class="item_price" style="color:#fda30e;font-weight: bold;font-size: 28px">
                        {% if product.isKilled == True %}
                            1{% else %}
                            {{ product.true_price }}
                        {% endif %}</span>
            </div>
                    <div class="city-choose">
                        <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-2" style="margin-top: 10px;width: 12%;margin-left: 1em;">配送至</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" data-toggle="city-picker">
                                </div>
                            </div>
                        </form>
                    </div>

					<div class="description">
                        {{ product.description|safe }}
                    </div>

					<div class="occasional">
						<h5>所属分类 :</h5>
						<div class="colr ert">
							<label class="radio"><input type="radio" name="radio" checked=""><i></i>{{ product.tag.name }}</label>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="occasion-cart">
						<a href="#" class="item_add hvr-outline-out button2"><i class="fas fa-shopping-cart"></i> 添加到购物车</a>
					</div>

		</div>
				<div class="clearfix"> </div>

				<div class="bootstrap-tab animated wow slideInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInUp;">
					<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
						<ul id="myTab" class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">商品描述</a></li>
{#							<li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">商品评论({{ comments_num }})</a></li>#}
						</ul>
						<div id="myTabContent" class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active bootstrap-tab-text" id="home" aria-labelledby="home-tab">
								<h5>商品简介</h5>
								{{ product.description|safe }}
							</div>
{#							<div role="tabpanel" class="tab-pane fade bootstrap-tab-text" id="profile" aria-labelledby="profile-tab">#}
{#                                <table style="width:100%;overflow:auto;"#}
{#                                               >#}
{#                                            <tbody>#}
{#                                            {% for comment in comments %}#}
{#                                            <tr>#}
{#                                                <td width="auto">#}
{#                                                    <div class="reply-author">#}
{#                                                        <a target="_blank" href="#">{% for user in users %}#}
{#                                                            {% if user.id == comment.user_id %}#}
{#                                                            {{ user.name }}#}
{#                                                            {% else %}#}
{#                                                            {% endif %}#}
{#                                                            {% endfor %}</a>#}
{#                                                        <em>{{ comment.add_time }}</em>#}
{#                                                    </div>#}
{#                                                    <div class="reply-content">#}
{#                                                        {{ comment.content|safe }}#}
{#                                                        <div style="overflow:auto;text-align:right;font-size:13px;">#}
{#                                                        </div>#}
{#                                                        <hr class="dline">#}
{#                                                    </div>#}
{#                                                </td>#}
{#                                            </tr>#}
{#                                            {% endfor %}#}
{#                                            </tbody>#}
{#                                        </table>#}
{#							</div>#}
						</div>
					</div>
				</div>
	</div>
</div>
{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename='base/js/city-picker.data.js') }}"></script>
    <script src="{{ url_for('static', filename='base/js/city-picker.js') }}"></script>
    <script>
     simpleCart.currency({
        code: "RMB",
        symbol: "￥",
        accuracy: 2
    });
     simpleCart({

        cartColumns: [
            {attr: "name", label: "Name"},
            {attr: "price", label: "Price", view: 'currency'},
            {attr: "image", label: "image" },
            {view: "decrement", label: false, text: "-"},
            {attr: "quantity", label: "Qty"},
            {view: "increment", label: false, text: "+"},
            {attr: "total", label: "SubTotal", view: 'currency'},
            {view: "remove", text: "Remove", label: false}
        ],
        cartStyle: "table",
    });
    </script>
{% endblock js %}