{% extends 'home/base.html' %}
{% import 'home/page.html' as pg %}
{% import 'home/show.html' as show %}
{% block content %}
{#      <div class="container">#}
{#        <div class="row wow fadeIn" data-wow-delay="0.6s">#}
{#        <div class="col-md-12">#}
{#            <div class="col-md-2">热销商品</div>#}
{#            <div class="col-md-10">#}
{#                <a href="{{ url_for('home.hot_sale',page=1) }}"#}
{#                   class="label label-important"><span class="fa fa-fire"></span>热销</a>#}
{#            </div>#}
{#            <div class="col-md-10">#}
{#                {% for hot in hots %}#}
{#                    {{ hot.name }}#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}
{#        </div>#}
{#        <div class="col-md-12">#}
{#                {{ pg.page(page_data,'home.hot_sale') }}#}
{#            </div>#}
{#    </div>#}
<div class="product-easy">
	<div class="container">

		<script src="{{ url_for('static', filename='base/js/easyResponsiveTabs.js') }}" type="text/javascript"></script>
		<script type="text/javascript">
							$(document).ready(function () {
								$('#horizontalTab').easyResponsiveTabs({
									type: 'default', //Types: default, vertical, accordion
									width: 'auto', //auto or any width like 600px
									fit: true   // 100% fit in a container
								});
							});

		</script>
		<div class="sap_tabs">
			<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
				<ul class="resp-tabs-list">
					<li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>热销商品</span></li>
{#					<li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Special Offers</span></li>#}
{#					<li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>Collections</span></li>#}
				</ul>
                {% for hot in hots %}
                    {{ show.show(name, hot.name, hot.price, hot.old_price) }}
                {% endfor %}
			</div>
		</div>
	</div>
</div>
    <div class="container">


        <div class="col-md-12">
                {{ pg.page(page_data,'home.hot_sale') }}
            </div>
    </div>
{% endblock %}
