{% extends 'home/base.html' %}
{% block css %}
    <link href="{{ url_for('static', filename='base/css/animate.min.css') }}" rel="stylesheet" type="text/css" media="all">
    <link href="{{ url_for('static', filename='base/css/index.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% import 'home/page.html' as pg %}
{% block content %}

 <div class="middle_div">
    <!--轮播图开始-->
    <div class="animated wow fadeInRight carousel-top" data-wow-delay="0.6s">
    <section id="Carousel" data-wow-delay="0.6s">
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        　　
        <ol class="carousel-indicators">
            　　　　
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            　　　　
            <li data-target="#myCarousel" data-slide-to="1"></li>
            　　　　
            <li data-target="#myCarousel" data-slide-to="2"></li>
            　　
        </ol>
        <!-- 轮播（Carousel）项目 -->
        　　
        <div class="carousel-inner">
            　　　　
            <div class="item active">
                　　　　　　<img src="{{ url_for('static', filename='base/images/banner/banner01.png') }}" alt="First slide">
                　　　　
            </div>
            　　　　
            <div class="item">
                　　　　　　<img src="{{ url_for('static', filename='base/images/banner/banner02.jpg') }}" alt="Second slide">
                　　　　
            </div>
            　　　　
            <div class="item">
                　　　　　　<img src="{{ url_for('static', filename='base/images/banner/banner03.png') }}" alt="Third slide">
                　　　　
            </div>
            　　
        </div>
        <!-- 轮播（Carousel）导航 -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	</a>
    </div>
    </section>
    </div>
    <!--轮播图结束-->

 <!--分类导航开始-->
    <div class="nav-category" id="nav-category">
    <ul class="topmenu" id="topmenu">
    {% for tag in tags %}
    <li class="li-tags"><a href="{{ url_for('home.category', tag_id=tag.id) }}">{{ tag.name }}<span class="badge">{{ tag.name }}</span></a><span class="occlusion"></span>
        <div class="submenu">
{#            <div class="cat-part-col1">#}
{#                <dl>#}
{#                    <dt><a href="#">音像</a></dt>#}
{#                    <dd>#}
{#                        <a href="#">音乐</a> <a href="#">影视</a> <a href="#">教育音像</a> <a href="#">游戏</a>#}
{#                    </dd>#}
{#                </dl>#}
{#                <dl>#}
{#                    <dt><a href="#">文艺</a></dt>#}
{#                    <dd>#}
{#                        <a href="#">小说</a> <a href="#">文学</a> <a href="#">青春文学</a> <a href="#">传记</a> <a#}
{#                            href="#">艺术</a>#}
{#                    </dd>#}
{#                </dl>#}
{#                <dl>#}
{#                    <dt><a href="#">人文社科</a></dt>#}
{#                    <dd>#}
{#                        <a href="#">历史</a> <a href="#">心理学</a> <a href="#">政治/军事</a> <a href="#">国学/古籍</a>#}
{#                        <a href="#">哲学/宗教</a> <a href="#">社会科学</a>#}
{#                    </dd>#}
{#                </dl>#}
{#                <dl>#}
{#                    <dt><a href="#">经管励志</a></dt>#}
{#                    <dd>#}
{#                        <a href="#">经济</a> <a href="#">金融与投资</a> <a href="#">管理</a> <a href="#">励志与成功</a>#}
{#                    </dd>#}
{#                </dl>#}
{#                <dl>#}
{#                    <dt><a href="#">科技</a></dt>#}
{#                    <dd>#}
{#                        <a href="#">科普</a> <a href="#">IT</a> <a href="#">建筑</a> <a href="#">医学</a> <a href="#">#}
{#                        工业技术</a> <a href="#">电子/通信</a> <a href="#">农林</a> <a href="#">科学与自然</a>#}
{#                    </dd>#}
{#                </dl>#}
{#                <dl>#}
{#                    <dt><a href="#">少儿</a></dt>#}
{#                    <dd>#}
{#                        <a href="#">少儿</a> <a href="#">0-2岁</a> <a href="#">3-6岁</a> <a href="#">7-10岁</a>#}
{#                        <a href="#">11-14岁</a>#}
{#                    </dd>#}
{#                </dl>#}
{#                <dl>#}
{#                    <dt><a href="#">教育</a></dt>#}
{#                    <dd>#}
{#                        <a href="#">教材</a> <a href="#">中小学教辅</a> <a href="#">考试</a> <a href="#">外语学习</a>#}
{#                    </dd>#}
{#                </dl>#}
{#            </div>#}
{#            <div class="cat-part-col2">#}
{#                <img src="img/1.png" alt="">#}
{#            </div>#}
        </div>
    </li>
        {% endfor %}
    </ul>
    </div>
 <!--分类导航结束-->
    <div class="clearcc"></div>
    </div>

{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename='base/js/jquery.easydropdown.js') }}"></script>
    <script src="{{ url_for('static', filename='base/js/easyResponsiveTabs.js') }}" type="text/javascript"></script>
    <script>
    /*
        鼠标悬停显示分类导航栏
     */
        $("#nav-category").hide();
        $("#category-side").mouseover(
            function () {
                $("#nav-category").show();
            }
        );
        $("#category-side").mouseout(
            function () {
                $("#nav-category").delay(5000).hide(0);
            }
        );
           $("#topmenu").mouseover(
            function () {
                $("#nav-category").show();
            }
        );
        $(".li-tags").mouseover(
            function () {
                $("#nav-category").show();
            }
        );
    </script>


    <script>
    /*
        鼠标悬停控制分类导航栏子项目显示隐藏
     */
    window.onload = function () {
        var menuItems = document.getElementsByClassName("topmenu")[0].getElementsByTagName("li");
        for (var i = 0; i < menuItems.length; i++) {
            menuItems[i].onmouseover = function () {
                this.className = "lihover";
            };

            menuItems[i].onmouseout = function (event) {
                this.className = "";
            };
        }
    };
    </script>
{% endblock %}