{% extends 'home/base.html' %}
{% block css %}
    <link href="{{ url_for('static', filename='base/css/animate.min.css') }}" rel="stylesheet" type="text/css" media="all">
    <link href="{{ url_for('static', filename='base/css/index.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% import 'home/page.html' as pg %}
{% block content %}

 <div class="middle_div  clearfix">
    <!--轮播图开始-->
    <div class="animated wow fadeInRight carousel-top container-fluid" data-wow-delay="0.6s">
    <section id="Carousel" data-wow-delay="0.6s">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="{{ url_for('static', filename='base/images/banner/可比克.png') }}" alt="...">
    </div>
    <div class="item">
      <img src="{{ url_for('static', filename='base/images/banner/坚果.png') }}" alt="...">
    </div>
    <div class="item">
      <img src="{{ url_for('static', filename='base/images/banner/多肉.jpg') }}" alt="...">
    </div>
      <div class="item">
      <img src="{{ url_for('static', filename='base/images/banner/饼干.png') }}" alt="...">
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    </section>
    </div>
    <!--轮播图结束-->
 <!--分类导航开始-->
    <div class="nav-category" id="nav-category">
    <ul class="topmenu" id="topmenu">
    {% for tag in tags %}
    <li class="li-tags"><a href="{{ url_for('home.category', tag_id=tag.id) }}">{{ tag.name }}<span class="badge">{{ tag.name }}</span></a><span class="occlusion"></span>
{#        <div class="submenu">#}
{#        </div>#}
    </li>
        {% endfor %}
    </ul>
    </div>
 <!--分类导航结束-->
    <div class="clearcc"></div>
    </div>
    <div class="article_include" style="background-color: #ffffff">
        <article id="on_sale" class="article_single">
            限时促销
        </article>
    </div>
    <div class="product-easy">
	<div class="container">

		<script src="{{ url_for('static', filename='base/js/easyResponsiveTabs.js') }}" type="text/javascript"></script>
		<script type="text/javascript">
							$(document).ready(function () {
								$('#horizontalTab').easyResponsiveTabs({
									type: 'default', //Types: default, vertical, accordion
									width: 'auto', //auto or any width like 600px
									fit: true   // 100% fit in a container
								});
							});

		</script>
		<div class="sap_tabs">
            {% for discount in discounts %}
            <div class="col-md-3 product-men">
							<div class="men-pro-item simpleCart_shelfItem">
								<div class="men-thumb-item" style="border-top: 1px solid #FDA30E ;">
									<img width="200" height="200" src="/static/{{ discount.pic }}" alt="{{ discount.name }}" class="pro-image-front">
									<img width="200" height="200" src="/static/{{ discount.pic }}"
                                         alt="{{ discount.name }}" class="pro-image-back item_image">

										<div class="men-cart-pro">
											<div class="inner-men-cart-pro">
												<a href="{{ url_for('home.detail_onsale', product_id=discount.id) }}" class="link-product-add-cart">Quick View</a>
											</div>
										</div>
										<span class="product-new-top">限时促销</span>

								</div>
								<div class="item-info-product">
                                    <h4 class="product_name"><a href="{{ url_for('home.detail_onsale', product_id=discount.id) }}"><span class="item_name">{{ discount.name }}</span></a></h4>
									<div class="info-product-price">
                                        <span class="item_price" style="color:#fda30e;font-weight: bold;font-size: 28px">
                                            ￥{{ discount.true_price }}</span><del>￥{{ discount.price }}</del>
									</div>
									<a  class="item_add single-item hvr-outline-out button2 add_cart">添加到购物车</a>
								</div>
							</div>
						</div>
            {% endfor %}
		</div>
	</div>
</div>
    <div class="article_include" style="background-color: #ffffff; margin-top: 5em">
        <article id="on_sale" class="article_single">
            一元秒杀
        </article>
    </div>
    <div class="product-easy">
	<div class="container">

		<script src="{{ url_for('static', filename='base/js/easyResponsiveTabs.js') }}" type="text/javascript"></script>
		<script type="text/javascript">
							$(document).ready(function () {
								$('#horizontalTab').easyResponsiveTabs({
									type: 'default', //Types: default, vertical, accordion
									width: 'auto', //auto or any width like 600px
									fit: true   // 100% fit in a container
								});
							});

		</script>
		<div class="sap_tabs">
            {% for one_doller in one_dollers %}
            <div class="col-md-3 product-men">
							<div class="men-pro-item simpleCart_shelfItem">
								<div class="men-thumb-item" style="border-top: 1px solid #FDA30E ;">
									<img width="200" height="200" src="/static/{{ one_doller.pic }}" alt="" class="pro-image-front">
						            <img width="200" height="200" src="/static/{{ one_doller.pic }}"
                                         alt="{{ one_doller.name }}" class="pro-image-back item_image">

										<div class="men-cart-pro">
											<div class="inner-men-cart-pro">
												<a href="{{ url_for('home.detail_onsale', product_id=one_doller.id) }}" class="link-product-add-cart">Quick View</a>
											</div>
										</div>
										<span class="product-new-top">一元秒杀</span>

								</div>
								<div class="item-info-product ">
                                    <h4 class="product_name"><a href="{{ url_for('home.detail_onsale', product_id=one_doller.id) }}"><span class="item_name">{{ one_doller.name }}</span></a></h4>
									<div class="info-product-price">
                                            <span class="item_price" style="color:#e31436;font-weight: bold;font-size: 28px">
                                            ￥1</span><del>￥{{ one_doller.price }}</del>

									</div>
									<a  class="item_add single-item hvr-outline-out button2 add_cart">现在抢购</a>
								</div>
							</div>
						</div>
            {% endfor %}
		</div>
	</div>
</div>
{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename='base/js/jquery.easydropdown.js') }}"></script>
    <script src="{{ url_for('static', filename='base/js/easyResponsiveTabs.js') }}" type="text/javascript"></script>
    <script>
    /*
        鼠标悬停显示分类导航栏
     */
        $("#nav-category").hide();
        $("#category-side").mouseover(
            function () {
                $("#nav-category").show();
            }
        );
        $("#category-side").mouseout(
            function () {
                $("#nav-category").delay(5000).hide(0);
            }
        );
           $("#topmenu").mouseover(
            function () {
                $("#nav-category").show();
            }
        );
        $(".li-tags").mouseover(
            function () {
                $("#nav-category").show();
            }
        );
    </script>


    <script>
    /*
        鼠标悬停控制分类导航栏子项目显示隐藏
     */
    window.onload = function () {
        var menuItems = document.getElementsByClassName("topmenu")[0].getElementsByTagName("li");
        for (var i = 0; i < menuItems.length; i++) {
            menuItems[i].onmouseover = function () {
                this.className = "lihover";
            };

            menuItems[i].onmouseout = function (event) {
                this.className = "";
            };
        }
    };
    </script>
{% endblock %}