{% extends 'home/base.html' %}
{% import 'home/page.html' as pg %}
{% block content %}
<div class="product-easy">
	<div class="container">

		<script src="{{ url_for('static', filename='base/js/easyResponsiveTabs.js') }}" type="text/javascript"></script>
		<script type="text/javascript">
							$(document).ready(function () {
								$('#horizontalTab').easyResponsiveTabs({
									type: 'default', //Types: default, vertical, accordion
									width: 'auto', //auto or any width like 600px
									fit: true   // 100% fit in a container
								});
							});

		</script>
		<div class="sap_tabs">
			<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
				<ul class="resp-tabs-list">
					<li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>新品上架</span></li>
				</ul>
			</div>
            {% for new in news %}
            <div class="col-md-3 product-men">
							<div class="men-pro-item simpleCart_shelfItem">
								<div class="men-thumb-item" style="border-top-style: solid;border-top-color: #FDA30E ;">
									<img width="200" height="200" src="/static/{{ new.pic }}" alt="" class="pro-image-front">
									<img width="200" height="200" src="/static/{{ new.pic }}" alt="" class="pro-image-back">

										<div class="men-cart-pro">
											<div class="inner-men-cart-pro">
												<a href="{{ url_for('home.detail', product_id=new.id) }}" class="link-product-add-cart">Quick View</a>
											</div>
										</div>
										<span class="product-new-top">hot</span>

								</div>
								<div class="item-info-product ">
									<h4><a href="single.html">{{ new.name }}</a></h4>
									<div class="info-product-price">
										<span class="item_price">￥{{ new.price }}</span>
									</div>
									<a href="#" class="item_add single-item hvr-outline-out button2">添加到购物车</a>
								</div>
							</div>
						</div>
            {% endfor %}
		</div>
	</div>
</div>
    <div class="container">
        <div class="col-md-12">
                {{ pg.page(page_data,'home.new_product') }}
            </div>
    </div>
{% endblock %}