{% extends "home/base.html" %}
{% import "home/search_page.html" as pg %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb" style="margin-top:6px;background-color: #FDA30E">
                <li style="color: #f4f4f4">与"{{ key }}"有关的商品，共{{ product_count }}个</li>
            </ol>
        </div>
        <div class="col-md-12">
            {% for v in page_data.items %}
                <div class="media">
                    <div class="media-left">
                        <a href="{{ url_for('home.detail',product_id=v.id,page=1) }}">
                            <img class="media-object" style=" width:131px;height:83px;"
                                 src="/static/{{ v.pic }}" alt="{{ v.name }}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{ v.name }}<a href="{{ url_for('home.detail',product_id=v.id,page=1) }}"
                                                                  class="label label-primary pull-right"><span
                                class="glyphicon glyphicon-play"></span>查看详情</a></h4>
                        {{ v.description|safe }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-12 text-center">
            {{ pg.page(page_data,'home.search') }}
        </div>
    </div>
{% endblock %}