div.price-tab{
    background: #f2f2f2;
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 1em;
}
span.price{
    color: #E4393C;
    font-size: x-large;
}
span.span-margin{
    margin-left: 1em;
}
div.city-choose{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: block;
    margin-top: 1em;
}